{% extends 'Employee/base.html' %} {% load static %} {% block content %}

<div class="card">
  <div class='px-3 py-3'>
    <div class="d-flex justify-content-between align-items-center mb-2">
      <h5>Manage Engineer</h5>
      <button data-bs-toggle="modal" data-bs-target="#addEngineer" class="btn btn-sm rounded btn-primary">
        Add Engineer
      </button>
    </div>
    <form class="d-flex flex-md-row flex-column justify-content-between align-items-center" method="GET" ,
            action="{{employee_manage_engineers}}">
            <input type="search"  class="form-control form-control-sm me-md-3 mb-md-0 mb-2 {%if query%}border-primary{%endif%}" value="{{query}}" name="query" id="query" placeholder="Search..." />
            <div class='d-flex'>
            <button type="submit" class="btn btn-outline-primary btn-sm">Submit</button>
            {% if query %}
            <a href="{% url 'employee_manage_engineers' %}" type="reset" class="btn ms-1 btn-danger btn-sm">Clear</a>
            {%endif%}
            </div>
        </form>
  </div>

  <div class="table-responsive text-nowrap">
    <table class="table">
      <thead>
        <tr>
          <th>
              Name.
              {% if order_by == "-auth__name" %}
                <i class='bx bx-up-arrow-alt cursor-pointer' onclick="order_by('auth__name')"></i>
              {%else%}
                <i class='bx bx-down-arrow-alt cursor-pointer' onclick="order_by('-auth__name')"></i>
              {% endif %}
          </th>
          <th>
              Email
              {% if order_by == "-auth__email" %}
                <i class='bx bx-up-arrow-alt cursor-pointer' onclick="order_by('auth__email')"></i>
              {%else%}
                <i class='bx bx-down-arrow-alt cursor-pointer' onclick="order_by('-auth__email')"></i>
              {% endif %}
          </th>
          <th>
              Phone
              {% if order_by == "-phone" %}
                <i class='bx bx-up-arrow-alt cursor-pointer' onclick="order_by('phone')"></i>
              {%else%}
                <i class='bx bx-down-arrow-alt cursor-pointer' onclick="order_by('-phone')"></i>
              {% endif %}
          </th>
          <th>
              Created_at
              {% if order_by == "-created_at" %}
                <i class='bx bx-up-arrow-alt cursor-pointer' onclick="order_by('created_at')"></i>
              {%else%}
                <i class='bx bx-down-arrow-alt cursor-pointer' onclick="order_by('-created_at')"></i>
              {% endif %}
          </th>
          <th>Action</th>
        </tr>
      </thead>
      <tbody class="table-border-bottom-0">
      {% if engineers %}
        {% for eng in engineers %}
        <tr>
          <td>{{eng.auth.name}}</td>
          <td>
            {{eng.auth.email}}
          </td>
          <td>
            {{eng.phone}}
          </td>
          <td>{{eng.created_at}}</td>
          <td>
            <button
              data-bs-toggle="modal"
              data-bs-target="#updateEngineer{{eng.id}}"
              class="btn btn-xs rounded-pill btn-success">
              Edit
            </button>
          </td>
        </tr>

        <!-- employee update modal  -->
        <div
          class="modal fade"
          id="updateEngineer{{eng.id}}"
          tabindex="-1"
          aria-hidden="true">
          <div class="modal-dialog" role="document">
            <div class="modal-content">
              <div class="modal-header">
                <h5 class="modal-title" id="exampleModalLabel2">
                  Update Engineer
                </h5>
                <button
                  type="button"
                  class="btn-close"
                  data-bs-dismiss="modal"
                  aria-label="Close"
                ></button>
              </div>
              <form method="POST" action="{% url 'employee_update_engineers' %}">
                {% csrf_token %}
                <input type="hidden" name="engineer_id" value="{{eng.id}}">
                <div class="modal-body">
                    <div class="mb-3">
                      <label for="name" class="form-label">Name</label>
                      <input
                        type="text"
                        id="name"
                        name="name"
                        class="form-control"
                        value="{{eng.auth.name}}"
                        placeholder="Enter Employee Name"
                        required
                      />
                    </div>
                    
                    <div class="mb-3">
                      <label for="email" class="form-label">Email</label>
                      <input
                        type="email"
                        id="email"
                        name="email"
                        value="{{eng.auth.email}}"
                        class="form-control"
                        placeholder="Enter Employee Email"
                        required
                      />
                    </div>

                    <div class="mb-3">
                      <label for="phone" class="form-label">Phone</label>
                      <input
                        type="text"
                        id="phone"
                        name="phone"
                        class="form-control"
                        value="{{eng.phone}}"
                        placeholder="Enter Engineer Phone"
                        required
                      />
                    </div>

                    <div class="mb-3">
                      <label for="name" class="form-label">New Password <small>(Optional)</small></label>
                      <input
                        type="text"
                        id="password"
                        name="password"
                        class="form-control"
                        value=""
                        placeholder="Enter New Password"
                      />
                    </div>

                </div>
                <div class="modal-footer justify-content-center">
                  <button type="submit" class="btn btn-primary w-100">
                    Update
                  </button>
                </div>
              </form>
            </div>
          </div>
        </div>
        <!-- end employee update modal  -->
        {% endfor %}
        {% else %}
        <tr>
          <td colspan="6">
            <div class="d-flex justify-content-center align-items-center flex-column">
            <h4 class="text-center text-danger mt-2">No Data Found! <a href="{% url 'employee_manage_engineers' %}"
              class="btn rounded-pill btn-icon btn-outline-primary btn-sm"><span
                  class="tf-icons bx bx-refresh"></span></a> </h4>
            {% if query %}
            <ul>
              Filter Apply
              <li><strong>Search</strong>: {{query}}</li>
            {%endif%}
            </ul>
            </div>
          </td>
        </tr>
        {% endif %}
      </tbody>
    </table>
  </div>

  <nav aria-label="..." class='px-2 mt-2'>
      {% if engineers.has_other_pages %}
          <ul class="pagination justify-content-end pagination-sm">
          {% if engineers.has_previous %}
              <li class="page-item">
                  <a class="page-link" 
                  href="?page={{ engineers.previous_page_number }}{% if query %}&query={{query}}{%endif%}{% if order_by %}&order_by={{order_by}}{%endif%}">
                  <span aria-hidden="true">&laquo;</span>
                </a>
              </li>
              {% else %}
              <li class="page-item disabled">
                  <span class="page-link">&laquo;</span>
              </li>
          {% endif %}

          {% for i in engineers.paginator.page_range %}
              {% if engineers.number == i %}
              <li class="page-item active" aria-current="page"><a class="page-link" href="#">{{ i }}</a></li>
              {% else %}
                  <li class="page-item">
                    <a class="page-link" href="?page={{ i }}{% if query %}&query={{query}}{%endif%}{% if order_by %}&order_by={{order_by}}{%endif%}">{{ i }}</a>
                  </li>
              {% endif %}
          {% endfor %}

          {% if engineers.has_next %}
              <li class="page-item">
                  <a class="page-link"
                  href="?page={{ engineers.next_page_number }}{% if query %}&query={{query}}{%endif%}{% if order_by %}&order_by={{order_by}}{%endif%}">
                  <span aria-hidden="true">&raquo;</span>
                  </a>
              </li>
          {% else %}
              <li class="page-item disabled">
                  <span class="page-link">&raquo;</span>
              </li>
          {% endif %}
          </ul>
          {% endif %}
  </nav>

  <!-- Add Employee modal  -->
  <div
  class="modal fade"
  id="addEngineer"
  tabindex="-1"
  aria-hidden="true">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="exampleModalLabel2">
          Create New Engineer
        </h5>
        <button
          type="button"
          class="btn-close"
          data-bs-dismiss="modal"
          aria-label="Close"
        ></button>
      </div>
      <form method="POST" action="{{employee_manage_engineers}}">
        {% csrf_token %}
        <div class="modal-body">
            <div class="mb-3">
              <label for="name" class="form-label">Name</label>
              <input
                type="text"
                id="name"
                name="name"
                class="form-control"
                value=""
                placeholder="Enter Engineer Name"
                required
              />
            </div>
            
            <div class="mb-3">
              <label for="email" class="form-label">Email</label>
              <input
                type="email"
                id="email"
                name="email"
                value=""
                class="form-control"
                placeholder="Enter Engineer Email"
                required
              />
            </div>

            <div class="mb-3">
              <label for="phone" class="form-label">Phone</label>
              <input
                type="text"
                id="phone"
                name="phone"
                class="form-control"
                value=""
                placeholder="Enter Engineer Phone"
                required
              />
            </div>

            <div class="mb-3">
              <label for="name" class="form-label">Password</label>
              <input
                type="text"
                id="password"
                name="password"
                class="form-control"
                value=""
                placeholder="Enter Engineer Password"
                required
              />
            </div>
        </div>
        <div class="modal-footer justify-content-center">
          <button type="submit" class="btn btn-primary w-100">
            Create
          </button>
        </div>
      </form>
    </div>
  </div>
</div>
<!-- end Add Employee modal  -->

</div>

{% endblock content %} {% block customjs %}
<script>
    function order_by(ob) {
        var query = "?page={{ page }}{% if query %}&query={{query}}{%endif%}"
        var manage_url = "{% url 'employee_manage_engineers' %}"
        return location.href = `${manage_url}${query}&order_by=${ob}`;
    }
</script>
{% endblock customjs %}
