{% extends 'Employee/base.html' %} {% load static %} {% block content %}

<div class="card">
  <div class='px-3 py-3'>
    <div class="d-flex justify-content-between align-items-center mb-2">
      <h5>Manage Issue Type</h5>
      <button data-bs-toggle="modal" data-bs-target="#add_department" class="btn btn-sm rounded btn-primary">
        Add New
      </button>
    </div>
    <form class="d-flex flex-md-row flex-column justify-content-end align-items-center" method="GET" ,
      action="{{employee_manage_issue_type}}">
      <input type="search"
        class="form-control form-control-sm me-md-3 w-md-50 w-100 mb-md-0 mb-2 {%if query%}border-primary{%endif%}"
        value="{{query}}" name="query" id="query" placeholder="Search..." />
      <div class='d-flex'>
        <button type="submit" class="btn btn-outline-primary btn-sm">Submit</button>
        {% if query %}
        <a href="{% url 'employee_manage_issue_type' %}" type="reset" class="btn ms-1 btn-danger btn-sm">Clear</a>
        {%endif%}
      </div>
    </form>
  </div>

  <div class="table-responsive text-nowrap">
    <table class="table">
      <thead>
        <tr>
          <th>
            #
            {% if order_by == "-created_at" %}
            <i class='bx bx-up-arrow-alt cursor-pointer' onclick="order_by('created_at')"></i>
            {%else%}
            <i class='bx bx-down-arrow-alt cursor-pointer' onclick="order_by('-created_at')"></i>
            {% endif %}
          </th>
          <th>
            Name
            {% if order_by == "-name" %}
            <i class='bx bx-up-arrow-alt cursor-pointer' onclick="order_by('name')"></i>
            {%else%}
            <i class='bx bx-down-arrow-alt cursor-pointer' onclick="order_by('-name')"></i>
            {% endif %}
          </th>
          <th>Action</th>
          <!-- <th>
              Ticket Type
          </th> -->
        </tr>
      </thead>
      <tbody class="table-border-bottom-0">
        {% if issue_types %}
        {% for d in issue_types %}
        <tr>
          <td>
            {{forloop.counter}}
          </td>
          <td>
            {{d.name}}
          </td>
          <td>
            <button data-bs-toggle="modal" data-bs-target="#updatedepartment{{d.id}}"
              class="btn btn-xs btn-outline-info rounded-pill">
              Edit
            </button>
          </td>
        </tr>

        <!-- Department update modal  -->
        <div class="modal fade" id="updatedepartment{{d.id}}" tabindex="-1" aria-hidden="true">
          <div class="modal-dialog modal-sm" role="document">
            <div class="modal-content">
              <div class="modal-header">
                <h5 class="modal-title" id="exampleModalLabel2">
                  Update Issue Type
                </h5>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
              </div>

              <form method="POST" action="{% url 'employee_update_issue_type' %}">
                {% csrf_token %}
                <div class="modal-body">
                  <ul class="mb-3">
                    <li>
                      <span class="fw-light">Name: </span>{{d.name}}
                    </li>
                  </ul>
                  <input type="hidden" name="issue_type_id" value="{{d.id}}" />
                  <div class="col mt-2 mb-3">
                    <label for="name" class="form-label">Name</label>
                    <input id="name" name="name" class="form-control" placeholder="Enter a Issue Type Name"
                      value="{{d.name}}" />
                  </div>
                </div>
                <div class="modal-footer justify-content-center">
                  <button type="submit" class="btn btn-primary w-100">
                    Update
                  </button>
                </div>
              </form>
            </div>
          </div>
        </div>
        <!-- Documents status update modal  -->
        {% endfor %}
        {% else %}
        <tr>
          <td colspan="6">
            <div class="d-flex justify-content-center align-items-center flex-column">
              <h4 class="text-center text-danger mt-2">No Data Found! <a href="{% url 'employee_manage_issue_type' %}"
                  class="btn rounded-pill btn-icon btn-outline-primary btn-sm"><span
                    class="tf-icons bx bx-refresh"></span></a> </h4>
              {% if query %}
              <ul>
                Filter Apply
                <li><strong>Search</strong>: {{query}}</li>
              </ul>
              {%endif%}
            </div>
          </td>
        </tr>
        {% endif %}
      </tbody>
    </table>
  </div>

  <nav aria-label="..." class='px-2 mt-2'>
    {% if issue_types.has_other_pages %}
    <ul class="pagination justify-content-end pagination-sm">
      {% if issue_types.has_previous %}
      <li class="page-item">
        <a class="page-link"
          href="?page={{ issue_types.previous_page_number }}{% if query %}&query={{query}}{%endif%}{% if order_by %}&order_by={{order_by}}{%endif%}">
          <span aria-hidden="true">&laquo;</span>
        </a>
      </li>
      {% else %}
      <li class="page-item disabled">
        <span class="page-link">&laquo;</span>
      </li>
      {% endif %}

      {% for i in issue_types.paginator.page_range %}
      {% if issue_types.number == i %}
      <li class="page-item active" aria-current="page"><a class="page-link" href="#">{{ i }}</a></li>
      {% else %}
      <li class="page-item">
        <a class="page-link"
          href="?page={{ i }}{% if query %}&query={{query}}{%endif%}{% if order_by %}&order_by={{order_by}}{%endif%}">{{
          i }}</a>
      </li>
      {% endif %}
      {% endfor %}

      {% if issue_types.has_next %}
      <li class="page-item">
        <a class="page-link"
          href="?page={{ issue_types.next_page_number }}{% if query %}&query={{query}}{%endif%}{% if order_by %}&order_by={{order_by}}{%endif%}">
          <span aria-hidden="true">&raquo;</span>
        </a>
      </li>
      {% else %}
      <li class="page-item disabled">
        <span class="page-link">&raquo;</span>
      </li>
      {% endif %}
    </ul>
    {% endif %}
  </nav>

</div>

<div class="modal fade" id="add_department" tabindex="-1" aria-hidden="true">
  <div class="modal-dialog modal-sm" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="exampleModalLabel2">
          Create New Issue Type
        </h5>
        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
      </div>

      <form method="POST" action="{% url 'employee_manage_issue_type' %}">
        {% csrf_token %}
        <div class="modal-body">
          <div class="col mt-2 mb-3">
            <label for="name" class="form-label">Name</label>
            <input id="name" name="name" class="form-control" placeholder="Enter a Issue Type Name" />
          </div>
        </div>
        <div class="modal-footer justify-content-center">
          <button type="submit" class="btn btn-primary w-100">
            Create
          </button>
        </div>
      </form>
    </div>
  </div>
</div>

{% endblock content %} {% block customjs %}
<script>
  function order_by(ob) {
    var query = "?page={{ page }}{% if query %}&query={{query}}{%endif%}"
    var manage_url = "{% url 'employee_manage_issue_type' %}"
    return location.href = `${manage_url}${query}&order_by=${ob}`;
  }
</script>
{% endblock customjs %}